# NGROK TOKEN
NGROK_AUTHTOKEN=

# SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/warmakth-db

// SUPABASE DB
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# MIDTRANS
MIDTRANS_API_KEY=

# CLOUDAMQP
RABBITMQ_HOST=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_VIRTUAL_HOST=

# SMTP GOOGLE
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USERNAME=

// supabase
SUPABASE_API_KEY=
SUPABASE_BUCKET=
SUPABASE_URL=

# Oauth Google
YOUR_GOOGLE_CLIENT_ID=
YOUR_GOOGLE_CLIENT_SECRET=